<head>
    <link rel="stylesheet" href="style/popups/stylePopups.css">
</head>

<section th:fragment= "popupAlert" id="popup" class="sectionPopupSave">

    <div class="popupSave">
        <img src="images/icons/iconInterrogation.svg" alt="icone salvar">
        <p>Deseja sair sem salvar? Os dados alterados seram perdidos</p>
        
        <div class="flexContainerRowBetween" >
            <button id="buttonPopupAlertBack" class="buttons buttonPopupAlert buttonPopupAlertCancel ">Cancelar</button>
            <button  id="buttonPopupAlertExit" class="buttons buttonPopupAlert buttonPopupAlertExit">Sair</button>
        </div>
    </div>

    <script src="script/closePopupAlert.js"></script>
</section>