.sectionPrincipal{
    width: 100%;
    justify-content: flex-start; /* não remover */
}

.sectionList{
    width: 98%;
    margin-top: 20px;
    padding: 10px 20px 5px;
    box-shadow: 1px 4px 5px 0px rgba(0,0,0,0.75);
}


.sectionListHeader p{
    text-transform: uppercase;
    font-weight: 600;
}

/* formulario */

.gridContainerForm{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sectionForms{
    display: none;
}

.sectionForms h4{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.sectionForms form{
    width: 100%;
}

.sectionForms form div{
    width: 100%;
    align-items: flex-start;
}

.sectionForms form label{
    display: block;
    font-size: 1rem;
    font-weight: 400;
    text-transform: capitalize;
    
}


.sectionForms form input{
    border: 1px solid black;
    margin-bottom: 10px;
    width: 80%;
    
}

.formSelect{
    justify-content: flex-end;
}

.formSelect select{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 8px;
    width: 30%;
    border: 1px solid black;
}

.formButtons{
    justify-content: flex-end;
}

.formButtons button{
    margin: 10px 0 10px 20px;
}