
.camposFormulario{
    display:flex;
    flex-direction: column;
}

.formularioProdutor{
    background-color: #222222;
}

.campos-form.input{
    padding: 10px;
}

.labelWithInput{
    display: flex;
    align-itens: center;
}

input{
    border: 2px solid black;
}