.navBarHeader{
 background-color: var(--backgroudNavBar);   
 width: 100%;
}

.navBarHeaderList{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    margin-top: 0; /* Remover qualquer espaço acima da seção principal */
}

.navBarHeader li img{
    padding-left: 20px;
}

.navBarHeaderListLow{
    justify-content: space-between;
    color: white;
}

.navBarHeaderListLow li:nth-last-child(1) {
    text-transform: capitalize;
    color: var(--colorAdmim);
}

.navBarHeaderListLow li:nth-last-child(2) {
    text-transform: uppercase;
  }