<!DOCTYPE html>
<html lang="PT-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" th:href="@{/style/reset.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/navBar/styleNavBarLeft.css}">
    <link rel="stylesheet" th:href="@{/style/navBar/styleNavBarHeader.css}">
    <link rel="stylesheet" th:href="@{/style/styleEditProducer.css}">
</head>

<body>
<main class="gridContainerBody">
    <nav class="navBarLeft">
        <section class="logo"><img th:src="@{/images/logo/logoCerto .png}" alt="logo queijos finos"></section>
        <section class="listLinksNav">
            <ul class="listLinks">
                <li id="dashboardLink"><img th:src="@{/images/icons/Vector.svg}" alt=""> Dashboard</li>
                <li id="producersLink"><img th:src="@{/images/icons/producerVetor.svg}" alt=""> Produtores</li>
                <li id="tecnologiesLink"><img th:src="@{/images/icons/cheeseVetor.svg}" alt=""> Cadastor Tecnologias</li>
                <li id="configurationLink"><img th:src="@{/images/icons/configVetor.svg}" alt="">Configurações</li>
            </ul>
        </section>
    </nav>
    <section class="sectionPrincipal flexContainercolum">
        <nav class="navBarHeader">
            <ul class="navBarHeaderList">
                <li><img th:src="@{/images/icons/notificationvetor.svg}" alt="icone de notificações}"></li>
                <li><img th:src="@{/images/icons/configVetorWhite.svg}" alt="icone de configurações}"></li>
            </ul>

            <ul class="navBarHeaderList navBarHeaderListLow">
                <li>configurar usuário</li>
                <li>administrador</li>
            </ul>
        </nav>
        <div class="contentEditProducer">
            <div class="containerButtonsInfoProducer">
                <div class="containerButtons">
                    <button id="dadosButton" class="buttonsInfoProducer">
                        Dados
                    </button>
                    <button id="documentsButton" class="buttonsInfoProducer">
                        Documentos
                    </button>
                    <button id="transferenceButton" class="buttonsInfoProducer">
                        Transferencia
                    </button>
                </div>
            </div>
            <form th:action="@{/editProducer/update/{producerId}(producerId=${producer.id})}" th:object="${producerDto}" method="post" class="producer-form">
                <div class="campos-container">
                    <div class="campos-form">
                        <div>
                            <label for="name">Nome completo</label>
                            <input th:value="${producerDto.name}" name="name" id="name">
                        </div>
                        <div>
                            <label for="cpf">CPF</label>
                            <input th:value="${producerDto.cpf}" id="cpf" name="cpf">
                        </div>
                        <div>
                            <label for="phone1">Telefone 1</label>
                            <input th:value="${producerDto.phone1}" id="phone1" name="phone1">
                        </div>
                    </div>
                    <div class="campos-form">
                        <div>
                            <label for="cnpj">CNPJ</label>
                            <input th:value="${producerDto.cnpj}" id="cnpj" name="cnpj">
                        </div>
                        <div>
                            <label for="socialReason">Razao Social</label>
                            <input th:value="${producerDto.socialReason}" id="socialReason" name="socialReason">
                        </div>
                        <div>
                            <label for="phone2">Telefone 2</label>
                            <input th:value="${producerDto.phone2}" id="phone2" name="phone2">
                        </div>
                    </div>
                    <div class="campos-form">
                        <div>
                            <label for="cep">CEP</label>
                            <input th:value="${producerDto.cep}" id="cep" name="cep">
                        </div>
                        <div>
                            <label for="street">Logradouro</label>
                            <input th:value="${producerDto.street}" id="street" name="street">
                        </div>
                        <div>
                            <label for="number">Numero</label>
                            <input th:value="${producerDto.number}" id="number" name="number">
                        </div>
                    </div>
                    <div class="campos-form">
                        <div>
                            <label for="neighborhood">Vila/Bairro</label>
                            <input th:value="${producerDto.neighborhood}" id="neighborhood" name="neighborhood">
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input th:value="${producerDto.email}" id="email" name="email">
                        </div>
                        <div>
                            <label for="state">UF</label>
                            <input th:value="${producerDto.state}" id="state" name="state">
                        </div>
                        <div>
                            <label for="city">Cidade</label>
                            <input th:value="${producerDto.city}" id="city" name="city">
                        </div>
                    </div>
                </div>
                <div class="certifications-info">
                    <div class="certifications">
                        <h3>Certificações</h3>
                        <div class="campoCertificationInfos">
                            <label for="simPoa">SIM/POA</label>
                            <input th:value="${producerDto.simPoa}" id="simPoa" name="simPoa" type="date">
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="susaf">SUSAF</label>
                            <input th:value="${producerDto.susaf}" id="susaf" name="susaf" type="date">
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="sisbi">SISBI</label>
                            <input th:value="${producerDto.sisbi}" id="sisbi" name="sisbi" type="date">
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="seloArte">SELO ARTE</label>
                            <input th:value="${producerDto.seloArte}" id="seloArte" name="seloArte" type="date">
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="cif">CIF</label>
                            <input th:value="${producerDto.cif}" id="cif" name="cif" type="date">
                        </div>
                    </div>
                    <div class="contract-info">
                        <h3>Informações sobre contrato</h3>
                        <div class="campoCertificationInfos">
                            <label for="signatureDate">Assinatura de Convenio de Cooperação Técnica</label>
                            <input th:value="${producerDto.signatureDate}" id="signatureDate" name="signatureDate" type="date">
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="expirationDate">Vencimento de contrato</label>
                            <input th:value="${producerDto.expirationDate}" id="expirationDate" name="expirationDate" type="date">
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="status">Situação no projeto</label>
                            <select th:value="${producerDto.status}" id="status" name="status">
                                <option value="Ativo" id="Ativo">Ativo</option>
                                <option value="Ativo em complementação" id="Ativo em complementação">Ativo em complementação</option>
                                <option value="Desistente" id="Desistente">Desistente</option>
                            </select>
                        </div>
                        <div class="campoCertificationInfos">
                            <label for="statusDate">Data Situação</label>
                            <input th:value="${producerDto.statusDate}" id="statusDate" name="statusDate" type="date">
                        </div>
                    </div>
                </div>
                <div class="observation-container">
                    <h3>Observaçãooooo</h3>
                    <input th:value="${producerDto.observation}" id="observation" name="observation">
                </div>
                <div class="button-submit">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </section>
</main>
<script>
    const pathname = window.location.pathname;

    const pathnameSplit = pathname.split("/");
    const id = pathnameSplit[2]

    const redirectUrlDocuments = "/documents/" + id;
    const redirectUrlTransference = "/transfer/" + id;

    const documentsButton = document.querySelector("#documentsButton");
    console.log(documentsButton)
    const transferenceButton = document.querySelector("#transferenceButton");

    documentsButton.addEventListener("click", ()=> {
        console.log("aaaaa")
        window.location.replace(redirectUrlDocuments)
    })

    transferenceButton.addEventListener("click", ()=>{
        window.location.replace(redirectUrlTransference)
    })
</script>

<script th:src="@{/script/opemForm.js}"></script>
<script th:src="@{/script/validatePassword.js}"></script>
<script th:src="@{/script/deleteUser.js}"></script>
<script th:src="@{/script/navbarRedirect.js}"></script>
</body>
</html>
