<!DOCTYPE html>
<html lang="PT-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/navBar/styleNavBarLeft.css">
    <link rel="stylesheet" href="style/navBar/styleNavBarHeader.css">
</head>

<body>

<main class="gridContainerBody">
    <nav class="navBarLeft">
        <section class="logo"><img src="images/logo/logoCerto .png" alt="logo queijos finos"></section>
        <section class="listLinksNav">
            <ul class="listLinks">
                <li><img src="images/icons/Vector.svg" alt=""> Dashboard</li>
                <li><a href="/producers"><img th:src="@{/images/icons/producerVetor.svg}" alt=""> Produtores</a></li>
                <li><img src="images/icons/cheeseVetor.svg" alt=""> Cadastor Tecnologias</li>
                <li><img src="images/icons/configVetor.svg" alt="">Configurações</li>
            </ul>
        </section>
    </nav>
    <section class="sectionPrincipal flexContainercolum">
        <div>
            <div>
                <button>
                    botao1
                </button>
                <button>
                    botao2
                </button>
                <button>
                    botao3
                </button>
            </div>
        </div>
        <nav class="navBarHeader">
            <ul class="navBarHeaderList">
                <li><img src="images/icons/notificationvetor.svg" alt="icone de notificações"></li>
                <li><img src="images/icons/configVetorWhite.svg" alt="icone de configurações"></li>
            </ul>

            <ul class="navBarHeaderList navBarHeaderListLow">
                <li>configurar usuário</li>
                <li>administrador</li>
            </ul>
        </nav>
        <form th:action="@{/formProducer/producer}" method="post" style="display:flex; flex-direction: column; gap: 20px; width: 94%; height: 1000px; margin-x: 10px;">
            <div style="gap: 20px; border: 2px solid black; display:flex; flex-direction: column; padding: 20px;">
                <div class="campos-form" style="display:flex; width: 100%; justify-content: space-between; gap: 10px;">
                    <div>
                        <label for="name">Nome completo</label>
                        <input style="width: 300px; padding: 5px; text-size: 12px" name="name" id="name">
                    </div>
                    <div>
                        <label for="cpf">CPF</label>
                        <input style="padding: 3px" id="cpf" name="cpf">
                    </div>
                    <div>
                        <label for="phone1">Telefone 1</label>
                        <input style="padding: 3px" id="phone1" name="phone1">
                    </div>
                </div>
                <div style="display:flex; width: 100%; justify-content: space-around;">
                    <div>
                        <label for="cnpj">CNPJ</label>
                        <input style="padding: 3px" id="cnpj" name="cnpj">
                    </div>
                    <div>
                        <label for="socialReason">Razao Social</label>
                        <input style="padding: 3px" id="socialReason" name="socialReason" >
                    </div>
                    <div>
                        <label for="phone2">Telefone 2</label>
                        <input style="padding: 3px" id="phone2" name="phone2">
                    </div>
                </div>
                <div style="display:flex; width: 100%; justify-content: space-around;">
                    <div>
                        <label for="cep">CEP</label>
                        <input style="padding: 3px" id="cep"  name="cep" >
                    </div>
                    <div>
                        <label for="street">Logradouro</label>
                        <input style="padding: 3px" id="street"  name="street" >
                    </div>
                    <div>
                        <label for="number">Numero</label>
                        <input style="padding: 3px" id="number" name="number">
                    </div>
                </div>
                <div style="display:flex; width: 100%; justify-content: space-around;">
                    <div>
                        <label for="neighborhood">Vila/Bairro</label>
                        <input style="padding: 3px" id="neighborhood" name="neighborhood">
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input style="padding: 3px; width: 100%;" id="email" name="email">
                    </div>
                    <div style="width: 50%;">
                        <label for="state">UF</label>
                        <input style="padding: 3px;" id="state" name="state">
                    </div>
                    <div>
                        <label for="city">Cidade</label>
                        <input style="padding: 3px" id="city" name="city">
                    </div>
                </div>
            </div>
            <div style="display:flex; justify-content: space-between; width: 100%;">
                <div style="display:flex; width: 29%; padding: 5px; flex-direction: column; border: 2px solid black; height: 200px;">
                    <h3>Certificações</h3>
                    <div style="display:flex;justify-content: space-between; ">
                        <label for="sim/poa">SIM/POA</label>
                        <input id="sim/poa" name="simPoa" type="date">
                    </div>
                    <div style="display:flex;justify-content: space-between; ">
                        <label for="SUSAF">SUSAF</label>
                        <input id="SUSAF" name="susaf" type="date">
                    </div>
                    <div style="display:flex;justify-content: space-between; ">
                        <label for="SISBI">SISBI</label>
                        <input id="SISBI" name="sisbi" type="date">
                    </div>
                    <div style="display:flex;justify-content: space-between; ">
                        <label for="SELO ARTE">SELO ARTE</label>
                        <input id="SELO ARTE" name="seloArte" type="date">
                    </div>
                    <div style="display:flex;justify-content: space-between; ">
                        <label for="CIF">SIM/POA</label>
                        <input id="CIF" name="cif" type="date">
                    </div>
                </div>
                <div style="width: 69%;">
                    <div style="display:flex; padding: 5px; flex-direction: column; border: 2px solid black; height: 200px;">
                        <h3>Informações sobre contrato</h3>
                        <div style="display:flex; justify-content: space-between;">
                            <label for="dataAssinatura">Assinatura de Convenio de Cooperação Técnica</label>
                            <input id="dataAssinatura" name="signatureDate" type="date">
                        </div>
                        <div style="display:flex; justify-content: space-between;">
                            <label for="dataVencimento">Vencimento de contrato</label>
                            <input id="dataVencimento" name="expirationDate" type="date">
                        </div >
                        <div style="display:flex;justify-content: space-between; ">
                            <label for="situacao">Situação no projeto</label>
                            <select id="situacao" name="status" style="width: 122px">
                                <option>Ativo</option>
                                <option>Ativo em complementação</option>
                                <option>Desistente</option>
                            </select>
                        </div>
                        <div style="display:flex; justify-content: space-between;">
                            <label for="dataSituacao">Data Situação</label>
                            <input id="dataSituacao" name="statusDate" type="date">
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>Observação</h3>
                <input style="width: 99%; heigth: 10%;" name="observation">
            </div>
            <a href="/produtores"><button type="submit">Submit</button></a>
        </form>
    </section>
</main>

<script src="script/opemForm.js"></script>
<script src="script/validatePassword.js" ></script>
<script src="script/deleteUser.js">


</script>

</body>


</html>
