<!DOCTYPE html>
<html lang="PT-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>Gerenciamento de Transferências</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/navBar/styleNavBarLeft.css">
    <link rel="stylesheet" href="style/navBar/styleNavBarHeader.css">
    <link rel="stylesheet" href="style/styleTransfer.css">
</head>

<body>

    <!-- SEÇÃO DE FUNCIONAMENTO DOS POPUPS -->

    <section class="sectionPopup">
        <section th:if="${condition}" th:insert="popups/savePopup"></section>
        <section th:insert="popups/alertPopupDelet" class="popupAlertDelet" style="display: none;"></section>
        <section th:insert="popups/alertPopupForm" id="popupAlertForm" class="teste" style="display: none"></section>
    </section>

    <!-- SEÇÃO LEFTBAR -->

    <main class="gridContainerBody">

        <nav class="navBarLeft">
            <section class="logo"><img src="images/logo/logoCerto .png" alt="logo queijos finos"></section>
            <section class="listLinksNav">
                <ul class="listLinks">
                    <li><img src="images/icons/Vector.svg" alt="Acessar Dashboard"> Dashboard</li>
                    <li class="listSelect"><img src="images/icons/producerVetorWhite.svg" alt="Acessar Produtores">
                        Produtores</li>
                    <li><img src="images/icons/cheeseVetor.svg" alt="Acessar Tecnologias"> Cadastro Tecnologias
                    </li>
                    <li><img src="images/icons/configVetor.svg" alt="Acessar Configurações">Configurações</li>
                </ul>
            </section>
        </nav>

        <!-- SEÇÃO NAVBAR -->

        <section class="sectionPrincipal flexContainercolum">

            <nav class="navBarHeader">
                <ul class="navBarHeaderList">
                    <li><img src="images/icons/notificationvetor.svg" alt="icone de notificações"></li>
                    <li><img src="images/icons/configVetorWhite.svg" alt="icone de configurações"></li>
                </ul>

                <ul class="navBarHeaderList navBarHeaderListLow">
                    <li>GERENCIAMENTO DE TRANSFERÊNCIAS</li>
                    <li>administrador</li>
                </ul>
            </nav>

            <!-- SEÇÃO DO FORMULÁRIO PARA ASSOCIAR TECNOLOGIAS -->

            <section id="sectionForm" class="sectionForms sectionList" th:if="${transfer}">
                <h4 class="titleForm"></h4>
    
                <form th:object="${transfer}" id="transferForm">
                    <input type="hidden" th:field="*{id}">
                    <div class="topIpunts">
                        <label for="tecnologies">Tecnologia:</label>
                        <select th:field="*{technology.id}" id="tecnologia" name="tecnologia" th:required="true">
                            <option value=""
                                th:text="(${technologies} != null and ${technologies.size()} > 0) ? 'Selecione uma tecnologia' : 'Nenhuma tecnologia cadastrada'">
                            </option>
                            <option th:each="technology : ${technologies}" th:value="${technology.id}"
                                th:text="${technology.name}"></option>
                        </select>
                        <label for="situacao">Situação:</label>
                        <select th:field="*{tipoStatusProduction}" id="situacao" name="situacao" th:required="true">
                            <option value="PRODUCING" th:selected="${transfer.tipoStatusProduction == 'PRODUCING'}">Produzindo</option>
                            <option value="COMPLEMENTATION" th:selected="${transfer.tipoStatusProduction == 'COMPLEMENTATION'}">Em complementação</option>
                            <option value="WITHDRAWAL" th:selected="${transfer.tipoStatusProduction == 'WITHDRAWAL'}">Desistente</option>
                        </select>
                    </div>
    
                    <div class="bottomInputs">
                        <label for="data_inicio">Data Início:</label>
                        <input type="date" th:field="*{startDate}" id="data_inicio" name="data_inicio"
                            th:required="true" min="2024-01-01">
                        <label for="data_conclusao">Data Conclusão:</label>
                        <input type="date" th:field="*{completionDate}" id="data_conclusao" name="data_conclusao"
                            th:required="true" min="2024-01-01">
                    </div>
    
                    <div class="formButtons flexContainerRowBetween">
                        <button id="buttonCancel" class="buttons buttonCancel" type="button">X Cancelar</button>
                        <button class="buttons buttonSave" type="submit"><img src="images/icons/icons8-done.svg"
                                alt="Salvar Transferência">Salvar</button>
                    </div>
                </form>
            </section>

            <!-- SEÇÃO PARA LISTAGEM DE TECNOLOGIAS ATRIBUIDAS AO PRODUTOR -->

            <section class="sectionList">
                <section class="flexContainerRowBetween sectionListHeader">
                    <p>TECNOLOGIAS ATRIBUÍDAS AO PRODUTOR</p>
                    <button id="buttonAdd" data-page="transfer" class="buttons buttonAdd">&#43; Adicionar</button>
                </section>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Tecnologia</th>
                            <th>Situação</th>
                            <th>Data Início</th>
                            <th>Data Conclusão</th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr th:each="transfer : ${transfers}">
                            <td th:text="${transfer.id}" style="display: none;"></td>
                            <td th:text="${transfer.technology.name}"></td>
                            <td th:text="${transfer.tipoStatusProduction}"></td>
                            <td th:text="${transfer.startDate}"></td>
                            <td th:text="${transfer.completionDate}"></td>
                            <td>
                                <button class="editButton"><img src="images/icons/iconEdit.svg"
                                        alt="Botão de editar transferência"></button>
                                <button type="button" class="delete-btn" th:data-id='${transfer.id}'>
                                    <img src="images/icons/iconDelete.svg" alt="Botão de deletar transferência">
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>


            <script src="script/opemCloseForm.js"></script>
            <script src="script/editTransfer.js"></script>


</body>

</html>