<!DOCTYPE html>
<html lang="PT-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>Documentos do Produtor</title>
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/navBar/styleNavBarLeft.css">
    <link rel="stylesheet" href="style/navBar/styleNavBarHeader.css">
    <link rel="stylesheet" href="style/styleTechnology.css">

</head>
<body>

    <main class="gridContainerBody">

        <nav class="navBarLeft">
            <section class="logo"><img src="images/logo/logoCerto .png" alt="logo queijos finos"></section>
            <section class="listLinksNav">
                <ul class="listLinks">
                    <li><img src="images/icons/Vector.svg" alt=""> Dashboard</li>
                    <li><img src="images/icons/producerVetor.svg" alt=""> Produtores</li>
                    <li class="listSelect"><img src="images/icons/cheeseVetorWhite.svg" alt=""> Cadastro de Tecnologia</li>
                    <li><img src="images/icons/configVetor.svg" alt="">Configurações</li>
                </ul>
            </section>
        </nav>

        <section class="sectionPrincipal flexContainercolum">
            <nav class="navBarHeader">
                <ul class="navBarHeaderList">
                    <li><img src="images/icons/notificationvetor.svg" alt="icone de notificações"></li>
                    <li><img src="images/icons/configVetorWhite.svg" alt="icone de configurações"></li>
                </ul>
                
                <ul class="navBarHeaderList navBarHeaderListLow">
                    <li>DOCUMENTOS DO PRODUTOR</li>
                    <li>Administrador</li>
                </ul>
            </nav>
            <section id="sectionForm" class="sectionForms sectionList">

                <section>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome:</th>
                    <th>Tipo de Documento:</th>
                    <td>
                        <select id="TipoDocumento" name="TipoDocumento">
                            <option value="option1">Contratos</option>
                            <option value="option2">Laudos Internos</option>
                            <option value="option3">Laudos Externos</option>
                            <option value="option4">Certificados</option>
                            <option value="option5">Documentos Gerais</option>
                        </select>
                    </td>
                    <th>Data de Upload:</th>
                
                    <th>Data de Vencimento:</th>
                    <td>
                        <section class="sectionList">
                            <button id="buttonAdd" class="buttons buttonAdd">&#43; Adicionar</button>
                        </section>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Vinicius Eduardo Agnes</td>
                    <td>Certificados</td>
                    <td>19/04/2024</td>
                    <td>30/07/2024</td>
                    <td>
                        <button type="button">
                            <img src="images/icons/iconEdit.svg" alt="Edit">
                        </button>
                        <button type="button" class="delete-btn">
                            <img src="images/icons/iconDelete.svg" alt="Delete">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>