/* variaveis css cores */
:root{

    --backgroudNavBar: #132F3E;
    --backgorudBottonAdd: #30363D;
    --backgroudLListItem: #EBEBEB;
    --colorAdmim: #0BCA87;
}

*{
    font-family: "Poppins", sans-serif;
}

.gridContainerBody{
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100vw;
    height: 100vh;
}

.flexContainercolum{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flexContainerRowBetween{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
